# Simulacion de rutas

### Importar librerias

In [38]:
import pandas as pd
import numpy as np
import math
from algoritmoCVRP import  *
import random

In [39]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\ruben\anaconda3\lib\site-packages (2.4.0)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\ruben\anaconda3\lib\site-packages (from geopy) (2.0)

### Primera parte: Distribucion de probabilidad de numero de pedidos

In [2]:
clientes = pd.read_excel("direcciones.xlsx")
clientes

,ciudad,Colonia,codigo postal,Calle,numero de casa
0,Monterrey,FIERRO MTY,64590,JESUS M GARZA,4026.0
1,Monterrey,VALLE DE SANTA LUCIA MTY,64140,LIC PEDRO ZORRI,404.0
2,Monterrey,JARDINES DEL PAS MTY,64900,AVE FUNDADORES,5300.0
3,Monterrey,CIUDAD NATURA,64989,AV ABRAHAM LIN,4001.0
4,Monterrey,VILLA LOS PINOS MTY,64770,PINO SILVESTRE,2923.0
...,...,...,...,...,...
351,Escobedo,LA ALIANZA,64103,PRIV PACHUCA,178.0
352,Escobedo,SANTA LUZ,66070,OXFORD,102.0
353,Escobedo,BUENA VISTA,66583,C PELICANO,238.0
354,Escobedo,LOS PARQUES RESIDENCIAL,66023,COBALTO,517.0
355,Escobedo,MONTERREAL INF II,66056,2DA CDA DE LA L,114.0

In [3]:
informacion_compra = pd.read_excel("informacion_compra.xlsx")
informacion_compra

       Producto   Unidades   Factura
0         48443           1   799186
1         42877           1   717106
2         48296           1   468125
3         34704           1   176490
4         47158           2   674550
...         ...         ...      ...
31649     35303           2   778814
31650     37584           1   632798
31651     19418           1   784747
31652     40176           1    73823
31653     16974           1   356870

[31654 rows x 3 columns]

In [4]:
l =  informacion_compra[" Unidades "].mean()#lambda: media de numero de pedidos realizados
l

1.1064320465028117

In [5]:
pedidoMaximo = informacion_compra[" Unidades "].max()

[i for i in range(1,pedidoMaximo + 1)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
prob = pd.DataFrame({"X": [i for i in range(0,pedidoMaximo + 1)]})


prob["p(x)"] = [ ((l ** x) *  math.exp(-l)) / math.factorial(x) for x in range(0,pedidoMaximo + 1)] 
prob["p(x)"] = prob["p(x)"] / prob["p(x)"].sum()  #normalizamos al dividir entre la suma total de todas las probabilidades

#Probabilidad acumulada
acumul = []
for i in range(0,prob.shape[0]):
    value = prob.loc[0:i, "p(x)"].sum() 
    acumul.append(value)

prob["p(x) acumulada"] = acumul 

#Limite inferior y superior

prob["Lim inferior"] =  [prob["p(x) acumulada"][i] - prob["p(x)"][i]  for i in range(prob.shape[0])]
prob["Lim superior"] =  [prob["p(x) acumulada"][i]  for i in range(prob.shape[0])]

In [7]:
prob

     X          p(x)  p(x) acumulada  Lim inferior  Lim superior
0    0  3.307369e-01        0.330737      0.000000      0.330737
1    1  3.659379e-01        0.696675      0.330737      0.696675
2    2  2.024427e-01        0.899118      0.696675      0.899118
3    3  7.466304e-02        0.973781      0.899118      0.973781
4    4  2.065239e-02        0.994433      0.973781      0.994433
5    5  4.570094e-03        0.999003      0.994433      0.999003
6    6  8.427498e-04        0.999846      0.999003      0.999846
7    7  1.332065e-04        0.999979      0.999846      0.999979
8    8  1.842299e-05        0.999997      0.999979      0.999997
9    9  2.264865e-06        1.000000      0.999997      1.000000
10  10  2.505919e-07        1.000000      1.000000      1.000000
11  11  2.520572e-08        1.000000      1.000000      1.000000
12  12  2.324035e-09        1.000000      1.000000      1.000000
13  13  1.977990e-10        1.000000      1.000000      1.000000
14  14  1.563222e-11        1.000000      1.000000      1.000000
15  15  1.153066e-12        1.000000      1.000000      1.000000
16  16  7.973684e-14        1.000000      1.000000      1.000000
17  17  5.189611e-15        1.000000      1.000000      1.000000
18  18  3.189974e-16        1.000000      1.000000      1.000000
19  19  1.857626e-17        1.000000      1.000000      1.000000
20  20  1.027668e-18        1.000000      1.000000      1.000000

### Segunda parte: Simular pedidos de los clientes

In [8]:
numClientes = clientes.shape[0] #Numero de clientes potenciales
numClientes

356

In [9]:
num_pedidos = pd.DataFrame({
    "Cliente": [i for i in range(numClientes)]

})

# Set the "X" column as the index
num_pedidos.set_index("Cliente", inplace=True)

# Reset the index to default integer index and remove the "X" column from the index
num_pedidos.reset_index(drop=True, inplace=True)

#Numero de num_pedidos que pedira cada cliente en base a las probabilidades
numPedidos = []
num_aleatorio = []
for i in range(num_pedidos.shape[0]):
    p = random.uniform(0,1)
    num_aleatorio.append(p)
    for j in range(prob.shape[0]):
        if (prob["Lim inferior"][j] <= p and p < prob["Lim superior"][j]):
            numPedidos.append(j) #Numero de num_pedidos
        else:
            continue

num_pedidos["Aleatorio"] = num_aleatorio
num_pedidos["Numero de pedidos"] = numPedidos

In [10]:
num_pedidos

     Aleatorio  Numero de pedidos
0     0.527082                  1
1     0.161062                  0
2     0.061546                  0
3     0.748310                  2
4     0.149171                  0
..         ...                ...
351   0.502875                  1
352   0.905077                  3
353   0.865957                  2
354   0.016917                  0
355   0.421907                  1

[356 rows x 2 columns]

### Parte 3: Designar tipo de pedido por cliente

In [11]:
ventaDia = {}

for idx,producto in enumerate(informacion_compra["Producto"].tolist()):
    if producto not in ventaDia.keys():
        ventaDia[producto] = 1
    else:
        ventaDia[producto] += list(informacion_compra[" Unidades "])[idx]


ventaDia

{48443: 43,
 42877: 18,
 48296: 28,
 34704: 45,
 47158: 5,
 1978: 4,
 23723: 75,
 17482: 87,
 5807: 3,
 840: 34,
 34068: 102,
 35440: 66,
 4621: 1,
 47360: 1,
 20650: 5,
 28133: 1,
 18164: 41,
 20254: 16,
 17737: 87,
 37584: 124,
 23248: 14,
 20800: 1,
 17165: 49,
 23566: 12,
 17515: 30,
 38215: 7,
 43296: 14,
 24371: 108,
 34483: 106,
 39526: 6,
 41621: 2,
 37450: 19,
 34386: 111,
 17449: 8,
 27452: 3,
 41643: 32,
 3003: 6,
 672: 2,
 35184: 26,
 9256: 1,
 23308: 8,
 37202: 9,
 42148: 1,
 8290: 8,
 41916: 33,
 34666: 8,
 34112: 126,
 17437: 19,
 47201: 34,
 34327: 23,
 43947: 1,
 44471: 2,
 30213: 104,
 17138: 31,
 17662: 23,
 45156: 5,
 37177: 18,
 34097: 37,
 36065: 15,
 19250: 1,
 40280: 34,
 199: 92,
 47825: 1,
 35303: 25,
 38524: 18,
 47117: 36,
 47993: 20,
 24335: 266,
 34109: 20,
 17259: 76,
 44042: 11,
 35617: 27,
 17193: 68,
 34673: 60,
 37583: 108,
 20190: 11,
 24415: 73,
 23292: 41,
 3067: 1,
 34358: 26,
 24155: 1,
 46866: 9,
 15196: 62,
 24333: 118,
 35221: 63,
 34387: 45,
 34324: 163,
 18704: 6,
 38993: 77,
 35769: 7,
 34768: 24,
 16983: 73,
 2646: 3,
 45149: 1,
 43834: 4,
 41794: 35,
 34308: 25,
 34488: 9,
 34302: 42,
 18747: 7,
 35693: 46,
 34239: 12,
 34264: 22,
 34248: 39,
 2667: 1,
 37645: 40,
 39353: 8,
 17435: 45,
 26831: 5,
 17191: 13,
 17197: 23,
 2817: 2,
 24453: 24,
 17420: 32,
 24471: 46,
 47676: 24,
 17481: 102,
 23338: 16,
 14901: 2,
 46915: 10,
 18535: 89,
 18251: 6,
 42825: 2,
 23558: 18,
 47297: 59,
 34321: 42,
 34389: 14,
 34018: 5,
 34484: 50,
 48006: 15,
 34332: 7,
 17841: 99,
 30777: 10,
 50904: 2,
 18451: 6,
 13307: 19,
 30416: 1,
 17155: 49,
 45713: 2,
 35577: 5,
 38167: 32,
 16972: 83,
 34425: 39,
 24035: 135,
 34811: 29,
 42713: 1,
 40655: 1,
 17793: 3,
 19646: 6,
 41647: 89,
 34100: 35,
 44563: 3,
 39825: 6,
 35952: 46,
 28005: 1,
 23809: 1,
 17537: 16,
 17497: 26,
 46914: 39,
 35241: 3,
 17244: 67,
 41563: 28,
 34696: 43,
 1989: 6,
 44298: 1,
 39636: 4,
 17427: 11,
 10492: 5,
 17534: 14,
 2705: 11,
 9682: 8,
 34742: 322,
 41642: 86,
 34059: 23,
 36014: 20,
 35096: 44,
 17257: 25,
 160: 3,
 41396: 42,
 27714: 15,
 40874: 15,
 34437: 47,
 34280: 22,
 961: 2,
 34568: 255,
 27954: 3,
 44251: 25,
 23624: 33,
 47949: 87,
 18267: 19,
 15236: 18,
 41261: 4,
 46888: 28,
 17387: 243,
 47755: 20,
 34028: 68,
 34369: 153,
 34081: 7,
 34634: 3,
 34741: 5,
 17218: 12,
 34182: 100,
 3283: 4,
 34813: 5,
 17147: 39,
 47292: 60,
 41904: 26,
 47240: 150,
 47212: 112,
 41645: 20,
 28004: 9,
 17154: 96,
 34672: 2,
 35365: 69,
 45697: 22,
 28342: 1,
 47259: 130,
 35972: 11,
 12984: 1,
 34249: 9,
 46277: 4,
 19854: 4,
 18702: 7,
 37049: 28,
 35191: 71,
 34092: 25,
 34083: 34,
 2504: 1,
 21493: 3,
 39343: 19,
 20752: 62,
 41703: 14,
 35038: 17,
 47943: 58,
 47785: 53,
 35034: 5,
 1552: 4,
 2476: 17,
 39533: 17,
 29863: 45,
 48396: 68,
 33929: 28,
 46817: 91,
 38767: 12,
 35461: 21,
 36111: 3,
 20626: 4,
 16093: 1,
 20458: 27,
 24116: 19,
 27441: 7,
 37159: 13,
 34820: 33,
 34098: 16,
 20659: 12,
 34043: 32,
 17385: 27,
 24356: 12,
 19626: 10,
 39149: 4,
 14511: 31,
 25008: 2,
 3050: 11,
 51183: 1,
 1927: 3,
 17377: 60,
 2116: 19,
 34299: 96,
 34160: 36,
 34090: 37,
 22519: 13,
 17533: 3,
 16933: 16,
 16661: 8,
 48232: 12,
 2405: 3,
 34357: 20,
 1878: 5,
 20639: 47,
 17272: 55,
 39975: 7,
 34759: 20,
 22010: 5,
 34415: 33,
 34455: 38,
 40053: 2,
 40663: 6,
 35037: 1,
 35066: 9,
 46926: 4,
 1924: 6,
 20369: 4,
 18144: 14,
 34388: 14,
 16996: 25,
 27539: 3,
 1899: 10,
 35370: 40,
 49566: 1,
 48394: 17,
 47681: 72,
 19413: 2,
 17439: 80,
 17674: 6,
 23290: 54,
 34579: 39,
 27567: 3,
 23669: 22,
 19810: 5,
 17141: 5,
 34379: 54,
 2317: 1,
 14263: 10,
 16938: 26,
 33835: 27,
 24338: 71,
 46894: 7,
 2556: 27,
 24467: 29,
 34581: 89,
 47237: 2,
 20673: 67,
 35210: 1,
 34069: 44,
 17115: 8,
 39546: 40,
 47948: 52,
 35297: 36,
 34465: 31,
 29494: 1,
 24334: 3,
 23534: 89,
 43622: 3,
 39824: 9,
 40380: 46,
 17431: 15,
 46848: 54,
 40391: 3,
 24148: 13,
 40884: 4,
 48397: 24,
 19907: 46,
 42523: 16,
 20315: 14,
 17092: 55,
 40599: 4,
 28510: 1,
 20196: 13,
 40758: 3,
 36045: 19,
 40600: 10,
 47810: 69,
 17128: 32,
 45154: 3,
 43781: 4,
 47052: 60,
 39531: 13,
 37526: 36,
 44220: 17,
 30052: 22,
 19493: 3,
 23855: 7,
 37527: 55,
 48022: 89,
 34266: 20,
 35098: 22,
 39599: 92,
 3325: 1,
 39597: 35,
 34115: 58,
 17388: 7,
 20282: 7,
 34392: 40,
 19723: 22,
 20232: 14,
 2534: 1,
 45151: 2,
 34355: 26,
 37436: 15,
 35032: 14,
 2644: 1,
 42202: 2,
 37974: 17,
 17207: 82,
 2892: 1,
 34420: 85,
 34552: 17,
 40138: 27,
 48617: 7,
 33132: 2,
 48300: 8,
 48160: 12,
 38006: 10,
 23313: 13,
 34619: 9,
 43071: 9,
 17206: 61,
 39834: 8,
 35101: 10,
 34618: 7,
 34694: 32,
 43983: 2,
 36000: 37,
 18023: 9,
 17961: 10,
 20587: 6,
 37529: 61,
 23259: 43,
 49466: 3,
 14608: 2,
 23841: 21,
 9970: 1,
 4965: 1,
 35091: 3,
 37151: 56,
 43867: 3,
 13627: 5,
 163: 25,
 34312: 59,
 17491: 13,
 40601: 9,
 37188: 48,
 20353: 8,
 34560: 71,
 35030: 9,
 37051: 73,
 11841: 2,
 17422: 27,
 48178: 14,
 29890: 10,
 17704: 32,
 46774: 10,
 41789: 42,
 34331: 21,
 40648: 1,
 24324: 11,
 36005: 6,
 19963: 3,
 27321: 15,
 20037: 7,
 34108: 14,
 36393: 4,
 37582: 56,
 18667: 16,
 23946: 42,
 37449: 63,
 17462: 17,
 39861: 4,
 17472: 4,
 29426: 14,
 39370: 3,
 34812: 12,
 18577: 2,
 14627: 61,
 36104: 22,
 39507: 37,
 1442: 6,
 5895: 30,
 33540: 1,
 47786: 79,
 35401: 44,
 3911: 1,
 34515: 12,
 48445: 21,
 35255: 8,
 19488: 55,
 5108: 1,
 17302: 62,
 16981: 30,
 46966: 37,
 47788: 1,
 36085: 9,
 35089: 24,
 38184: 4,
 34655: 2,
 35298: 69,
 34277: 17,
 21037: 3,
 35265: 4,
 23928: 16,
 48217: 13,
 27073: 10,
 18368: 36,
 10058: 1,
 51280: 2,
 35836: 2,
 3879: 2,
 17512: 17,
 13561: 5,
 47340: 109,
 46952: 5,
 37452: 48,
 29067: 1,
 41591: 17,
 1415: 11,
 17144: 79,
 47679: 32,
 25161: 5,
 40953: 21,
 17120: 44,
 41915: 76,
 19455: 1,
 37147: 2,
 21330: 2,
 17787: 6,
 46705: 33,
 40235: 16,
 23091: 1,
 40417: 1,
 3228: 1,
 41903: 76,
 41792: 15,
 17839: 10,
 17483: 13,
 35396: 7,
 16922: 21,
 6032: 2,
 17692: 6,
 48248: 8,
 34111: 42,
 11343: 3,
 47082: 24,
 24355: 30,
 17415: 28,
 29421: 1,
 44033: 2,
 47778: 1,
 39856: 3,
 2730: 1,
 17369: 20,
 37057: 16,
 43203: 9,
 46893: 11,
 40701: 1,
 38766: 8,
 20362: 11,
 36480: 6,
 30014: 6,
 37786: 7,
 7487: 4,
 31257: 2,
 35104: 6,
 34621: 5,
 41309: 26,
 37537: 23,
 20244: 23,
 31480: 2,
 40450: 17,
 47306: 6,
 17428: 27,
 40908: 1,
 2083: 7,
 16959: 9,
 37189: 29,
 39756: 2,
 23676: 49,
 9577: 1,
 27798: 10,
 2547: 6,
 17340: 4,
 3173: 12,
 17238: 11,
 45175: 3,
 8984: 2,
 48229: 38,
 371: 12,
 41373: 62,
 20729: 4,
 42529: 8,
 21151: 8,
 28157: 2,
 44451: 14,
 1631: 9,
 44908: 8,
 17703: 13,
 48226: 2,
 29788: 9,
 29693: 3,
 38982: 2,
 764: 4,
 1970: 8,
 47992: 8,
 17237: 37,
 34086: 4,
 39640: 10,
 4624: 1,
 44265: 30,
 17386: 36,
 37491: 13,
 121: 3,
 18888: 4,
 43817: 1,
 40823: 2,
 17183: 82,
 48381: 24,
 36102: 62,
 31338: 13,
 38028: 9,
 16963: 30,
 35967: 13,
 38019: 6,
 16479: 1,
 5441: 4,
 49645: 1,
 18197: 13,
 17325: 2,
 35050: 50,
 41625: 11,
 39866: 14,
 34038: 47,
 43925: 4,
 4129: 41,
 39544: 21,
 309: 4,
 31258: 5,
 17145: 66,
 47659: 83,
 4494: 23,
 40658: 14,
 40848: 13,
 23913: 35,
 34230: 11,
 20073: 1,
 29763: 1,
 28091: 2,
 34582: 38,
 15639: 2,
 38216: 44,
 4499: 9,
 34119: 11,
 17492: 15,
 37759: 7,
 49533: 1,
 41372: 37,
 34384: 18,
 24486: 2,
 47181: 9,
 2925: 39,
 17350: 30,
 35694: 5,
 39020: 2,
 45147: 10,
 35500: 23,
 23683: 30,
 29259: 18,
 20310: 14,
 8138: 1,
 2671: 3,
 17707: 2,
 21460: 2,
 20260: 3,
 39545: 26,
 43099: 1,
 48215: 2,
 11315: 1,
 25854: 1,
 20278: 37,
 17258: 11,
 20361: 34,
 48249: 34,
 17731: 8,
 18266: 15,
 40605: 1,
 34754: 11,
 41246: 12,
 16168: 1,
 963: 21,
 20541: 9,
 18296: 9,
 17808: 27,
 35395: 18,
 18715: 4,
 8427: 1,
 17654: 2,
 2139: 6,
 44004: 1,
 37890: 10,
 47294: 15,
 35208: 11,
 27765: 1,
 20308: 9,
 10792: 1,
 20316: 20,
 34374: 13,
 17358: 27,
 34333: 10,
 18726: 2,
 37407: 5,
 2323: 1,
 37190: 48,
 23936: 6,
 3175: 5,
 35318: 68,
 34703: 7,
 37490: 30,
 16940: 19,
 42320: 8,
 47219: 40,
 20243: 5,
 2649: 1,
 15921: 5,
 48067: 8,
 34274: 52,
 17511: 15,
 47162: 47,
 18628: 4,
 34335: 16,
 23191: 19,
 34489: 10,
 34695: 45,
 17140: 36,
 46867: 9,
 36018: 3,
 36688: 8,
 20293: 8,
 796: 5,
 18143: 14,
 34089: 13,
 23343: 62,
 5689: 7,
 23555: 29,
 41795: 37,
 37216: 8,
 29362: 6,
 14802: 16,
 32649: 2,
 51193: 2,
 34055: 32,
 30171: 1,
 40436: 85,
 19970: 7,
 27644: 8,
 27173: 4,
 3206: 2,
 6230: 8,
 2050: 18,
 17494: 12,
 35969: 5,
 37153: 65,
 32706: 1,
 47363: 2,
 20289: 4,
 46960: 10,
 21946: 1,
 17527: 20,
 27445: 2,
 37719: 3,
 39927: 4,
 47287: 89,
 22217: 4,
 46461: 2,
 45581: 1,
 35622: 45,
 19024: 16,
 17223: 51,
 17796: 11,
 27875: 1,
 35172: 7,
 17754: 4,
 35036: 6,
 23291: 21,
 35883: 6,
 24474: 5,
 37118: 12,
 48227: 47,
 13502: 5,
 37727: 17,
 17192: 39,
 34433: 60,
 19956: 24,
 1598: 2,
 23675: 44,
 34095: 50,
 24145: 21,
 34776: 3,
 17529: 34,
 20679: 8,
 18367: 38,
 1550: 6,
 45865: 1,
 40455: 6,
 34371: 18,
 24473: 39,
 16955: 45,
 34778: 36,
 19306: 1,
 40492: 5,
 37949: 8,
 35501: 62,
 17705: 5,
 34719: 12,
 37266: 24,
 23924: 7,
 9108: 2,
 34438: 10,
 48218: 10,
 51188: 1,
 1812: 2,
 27940: 8,
 27552: 2,
 48228: 8,
 51403: 2,
 27809: 2,
 849: 5,
 39628: 7,
 14124: 4,
 20749: 5,
 43484: 3,
 20396: 13,
 5918: 1,
 37728: 14,
 39530: 9,
 24591: 10,
 33543: 1,
 34382: 21,
 34679: 9,
 41914: 28,
 34589: 17,
 46074: 2,
 19497: 16,
 34063: 16,
 13426: 2,
 27584: 4,
 34646: 12,
 47304: 9,
 39960: 7,
 20174: 2,
 17912: 18,
 20641: 33,
 17233: 22,
 35764: 1,
 40690: 2,
 48309: 20,
 39532: 39,
 46977: 17,
 39528: 8,
 34566: 39,
 35237: 9,
 24466: 43,
 35048: 2,
 22499: 1,
 23607: 7,
 18035: 12,
 27156: 3,
 25599: 5,
 19418: 14,
 19698: 2,
 36956: 4,
 20072: 8,
 48666: 2,
 48214: 4,
 19861: 5,
 21540: 1,
 40068: 23,
 4723: 102,
 47654: 13,
 34099: 19,
 17663: 9,
 47018: 29,
 35394: 38,
 34534: 30,
 40176: 5,
 44813: 5,
 44291: 4,
 40298: 1,
 3007: 2,
 35681: 4,
 47876: 22,
 35113: 11,
 17131: 53,
 47769: 14,
 9073: 1,
 20535: 60,
 24104: 8,
 19813: 6,
 48201: 1,
 20093: 1,
 17093: 69,
 40340: 21,
 118: 4,
 37852: 9,
 17694: 31,
 22263: 1,
 20231: 12,
 37281: 1,
 40066: 6,
 35474: 7,
 28174: 5,
 44790: 2,
 1497: 2,
 19806: 15,
 16894: 13,
 21664: 1,
 17208: 31,
 20634: 10,
 24775: 4,
 40943: 5,
 17280: 4,
 24329: 1,
 38187: 6,
 2067: 3,
 39253: 2,
 19837: 4,
 37705: 10,
 34728: 10,
 40411: 2,
 344: 3,
 2533: 1,
 40363: 3,
 38032: 17,
 46991: 7,
 46689: 6,
 48446: 2,
 17771: 17,
 48161: 20,
 24325: 16,
 28259: 3,
 33227: 2,
 21432: 3,
 40094: 2,
 40785: 4,
 37758: 6,
 45715: 1,
 34372: 11,
 48252: 16,
 17101: 9,
 42119: 1,
 2929: 1,
 28220: 1,
 17243: 15,
 45264: 1,
 47119: 7,
 41557: 1,
 41559: 8,
 16944: 26,
 40596: 14,
 38746: 33,
 39740: 2,
 47783: 18,
 37386: 4,
 43470: 4,
 20420: 4,
 37251: 3,
 12408: 1,
 34061: 33,
 43915: 3,
 2926: 11,
 47669: 19,
 34780: 32,
 34137: 47,
 44992: 10,
 46019: 1,
 39626: 5,
 6228: 8,
 19304: 2,
 36109: 4,
 35400: 44,
 20317: 12,
 23606: 7,
 34475: 20,
 44315: 12,
 17473: 8,
 33291: 1,
 34342: 11,
 39944: 8,
 24279: 1,
 38160: 4,
 27725: 1,
 34726: 4,
 41548: 4,
 37568: 4,
 24111: 30,
 3145: 3,
 40650: 2,
 35116: 7,
 34286: 18,
 40288: 5,
 6114: 4,
 35053: 3,
 20079: 7,
 23853: 4,
 21458: 4,
 24337: 42,
 27795: 1,
 47276: 9,
 11419: 2,
 35280: 2,
 35026: 9,
 27484: 2,
 36024: 26,
 24336: 6,
 40012: 9,
 18569: 7,
 34747: 6,
 35199: 13,
 17702: 6,
 37520: 27,
 5100: 3,
 17445: 5,
 30305: 1,
 ...}

In [12]:
venta_dia =  pd.DataFrame(list(ventaDia.items()), columns=['Producto', 'Venta promedio/dia'])
venta_dia

      Producto  Venta promedio/dia
0        48443                  43
1        42877                  18
2        48296                  28
3        34704                  45
4        47158                   5
...        ...                 ...
4756     12733                   1
4757     27087                   1
4758     23096                   1
4759     23991                   1
4760     27536                   1

[4761 rows x 2 columns]

In [13]:
venta_dia["Prob Relativa"] = [venta_dia["Venta promedio/dia"][x] / venta_dia["Venta promedio/dia"].sum() for x in range(venta_dia.shape[0])]

#Probabilidad acumulada
acumul = []
for i in range(0,venta_dia.shape[0]):
    value = venta_dia.loc[0:i, "Prob Relativa"].sum() 
    acumul.append(value)

venta_dia["Prob acumulada"] = acumul 

#Limite inferior y superior

venta_dia["Lim inferior"] =  [venta_dia["Prob acumulada"][i] - venta_dia["Prob Relativa"][i]  for i in range(venta_dia.shape[0])]
venta_dia["Lim superior"] =  [venta_dia["Prob acumulada"][i]  for i in range(venta_dia.shape[0])]

In [14]:
venta_dia

,Producto,Venta promedio/dia,Prob Relativa,Prob acumulada,Lim inferior,Lim superior
0,48443,43,0.001245,0.001245,0.000000,0.001245
1,42877,18,0.000521,0.001766,0.001245,0.001766
2,48296,28,0.000811,0.002576,0.001766,0.002576
3,34704,45,0.001303,0.003879,0.002576,0.003879
4,47158,5,0.000145,0.004024,0.003879,0.004024
...,...,...,...,...,...,...
4756,12733,1,0.000029,0.999884,0.999855,0.999884
4757,27087,1,0.000029,0.999913,0.999884,0.999913
4758,23096,1,0.000029,0.999942,0.999913,0.999942
4759,23991,1,0.000029,0.999971,0.999942,0.999971
4760,27536,1,0.000029,1.000000,0.999971,1.000000

### Parte 4: Simular qué tipo de pedido realiza cada cliente

In [15]:
tipo_pedidos = pd.DataFrame({
    "Cliente": [i for i in range(num_pedidos.shape[0])]

})

# Set the "X" column as the index
tipo_pedidos.set_index("Cliente", inplace=True)

# Reset the index to default integer index and remove the "X" column from the index
tipo_pedidos.reset_index(drop=True, inplace=True)

def tipoPedido(num_pedidos,prob_tipoPedido,num_productosTotal):

    tipo_pedido = [0 for i in range(num_productosTotal)]

    for i in range(num_pedidos):

        prob_pedido = random.uniform(0,1)
        #print(prob_pedido)

        for j in range(num_productosTotal):           
            if (prob_tipoPedido["Lim inferior"][j] <= prob_pedido and prob_pedido < prob_tipoPedido["Lim superior"][j]):
                tipo_pedido[j] += 1
            else:
                continue
    
    return tipo_pedido

In [16]:

product_dict = {
    48443: 43,
    42877: 18,
    48296: 28,
    34704: 45,
    47158: 5,
    1978: 4,
    23723: 75,
    17482: 87
}

# Sort the dictionary by values (values of the keys)
sorted_keys_by_value = sorted(product_dict, key=lambda k: str(k).zfill(10))

# Create a new dictionary with keys sorted by values
sorted_dict = {key: product_dict[key] for key in sorted_keys_by_value}

# Now, 'sorted_dict' contains the keys sorted by their associated values
print(sorted_dict)

{1978: 4, 17482: 87, 23723: 75, 34704: 45, 42877: 18, 47158: 5, 48296: 28, 48443: 43}

In [17]:
def designarPedidos(num_pedidos,prob_tipoPedido,num_productos):

    numPedidos = list(num_pedidos["Numero de pedidos"]) #lista de numeros de pedidos por cada cliente

    pedidos = {}

    names_products = list(prob_tipoPedido["Producto"])
    for i in range(prob_tipoPedido.shape[0]):
        pedidos[names_products[i]] = []


    for num in numPedidos:
        listaPedidos = tipoPedido(num,prob_tipoPedido,num_productos)
        index = 0
        values = list(pedidos.values())
        for key in pedidos.keys():
            values[index].append(listaPedidos[index]) #numero de pedidos por tipo de pedido
            index += 1
        
        for index,key in enumerate(pedidos):
            pedidos[key] = values[index]
    
    # Sort the dictionary by values (values of the keys)
    sorted_keys_by_value = sorted(pedidos, key=lambda k: str(k).zfill(10))

    # Create a new dictionary with keys sorted by values
    pedidos_sorted = {key: pedidos[key] for key in sorted_keys_by_value}

    pedidosFinal = pd.concat([num_pedidos, pd.DataFrame(pedidos_sorted)], axis=1)
    return pedidosFinal

In [18]:
productos_porCliente= designarPedidos(num_pedidos,venta_dia,venta_dia.shape[0])
productos_porCliente

,Aleatorio,Numero de pedidos,23,29,30,60,66,67,89,91,...,52910,52919,52925,52937,52940,52942,52984,52993,53014,53475
0,0.527082,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.161062,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.061546,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.748310,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.149171,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,0.502875,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
352,0.905077,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
353,0.865957,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
354,0.016917,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
355,0.421907,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
productos_porCliente.iloc[:,2:productos_porCliente.shape[1]].loc[355,:].value_counts()

0    4760
1       1
Name: 355, dtype: int64

###  Parte 5: Calcular volumen de carga por cada cliente

In [20]:
productos_volumen = pd.read_csv("info_productos.csv")
productos_volumen

       Producto   Volumen mtro3
0             1        0.001050
1             2        0.026710
2             3        0.020000
3             4        0.056515
4             5        0.025238
...         ...             ...
53627     53628        0.000266
53628     53629        0.000560
53629     53630        0.000540
53630     53631        0.000069
53631     53632        0.000560

[53632 rows x 2 columns]

In [21]:
productos_porCliente

,Aleatorio,Numero de pedidos,23,29,30,60,66,67,89,91,...,52910,52919,52925,52937,52940,52942,52984,52993,53014,53475
0,0.527082,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.161062,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.061546,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.748310,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.149171,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,0.502875,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
352,0.905077,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
353,0.865957,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
354,0.016917,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
355,0.421907,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
list(productos_porCliente.iloc[:,2:productos_porCliente.shape[1]].columns)

[23,
 29,
 30,
 60,
 66,
 67,
 89,
 91,
 109,
 118,
 121,
 122,
 125,
 145,
 151,
 158,
 160,
 163,
 166,
 169,
 173,
 181,
 199,
 205,
 209,
 215,
 219,
 229,
 238,
 239,
 290,
 305,
 309,
 315,
 319,
 320,
 326,
 332,
 338,
 341,
 344,
 348,
 354,
 359,
 367,
 369,
 371,
 386,
 398,
 411,
 414,
 422,
 458,
 667,
 670,
 672,
 682,
 690,
 692,
 714,
 716,
 717,
 721,
 722,
 726,
 741,
 764,
 765,
 768,
 777,
 783,
 786,
 792,
 796,
 806,
 828,
 830,
 840,
 841,
 844,
 848,
 849,
 871,
 872,
 882,
 897,
 920,
 922,
 928,
 929,
 937,
 939,
 960,
 961,
 963,
 979,
 980,
 1060,
 1081,
 1086,
 1094,
 1102,
 1106,
 1120,
 1123,
 1144,
 1146,
 1148,
 1151,
 1153,
 1156,
 1159,
 1165,
 1167,
 1184,
 1205,
 1206,
 1207,
 1230,
 1233,
 1253,
 1256,
 1260,
 1285,
 1299,
 1301,
 1306,
 1311,
 1332,
 1335,
 1336,
 1346,
 1351,
 1364,
 1365,
 1367,
 1393,
 1400,
 1415,
 1418,
 1424,
 1425,
 1426,
 1427,
 1428,
 1434,
 1440,
 1441,
 1442,
 1443,
 1447,
 1454,
 1455,
 1458,
 1459,
 1460,
 1464,
 1466,
 1478,
 1483,
 1488,
 1490,
 1492,
 1497,
 1498,
 1501,
 1511,
 1516,
 1517,
 1518,
 1519,
 1528,
 1533,
 1536,
 1538,
 1539,
 1544,
 1550,
 1552,
 1562,
 1574,
 1581,
 1586,
 1587,
 1588,
 1598,
 1608,
 1609,
 1631,
 1654,
 1660,
 1661,
 1665,
 1667,
 1707,
 1712,
 1714,
 1731,
 1777,
 1783,
 1805,
 1807,
 1812,
 1826,
 1830,
 1833,
 1835,
 1839,
 1850,
 1855,
 1859,
 1869,
 1871,
 1877,
 1878,
 1879,
 1881,
 1896,
 1897,
 1898,
 1899,
 1910,
 1912,
 1913,
 1914,
 1915,
 1920,
 1922,
 1924,
 1927,
 1931,
 1932,
 1933,
 1935,
 1938,
 1942,
 1947,
 1949,
 1954,
 1957,
 1965,
 1970,
 1978,
 1984,
 1989,
 2003,
 2017,
 2022,
 2023,
 2024,
 2025,
 2026,
 2028,
 2030,
 2032,
 2050,
 2051,
 2058,
 2061,
 2064,
 2067,
 2068,
 2081,
 2083,
 2086,
 2087,
 2089,
 2090,
 2092,
 2093,
 2095,
 2097,
 2098,
 2099,
 2100,
 2101,
 2103,
 2104,
 2106,
 2107,
 2108,
 2115,
 2116,
 2117,
 2118,
 2135,
 2139,
 2140,
 2141,
 2142,
 2145,
 2146,
 2226,
 2241,
 2284,
 2299,
 2306,
 2312,
 2313,
 2315,
 2316,
 2317,
 2323,
 2329,
 2331,
 2333,
 2335,
 2336,
 2339,
 2340,
 2342,
 2346,
 2348,
 2349,
 2352,
 2360,
 2361,
 2369,
 2373,
 2378,
 2383,
 2385,
 2390,
 2400,
 2401,
 2405,
 2406,
 2440,
 2444,
 2450,
 2451,
 2453,
 2455,
 2456,
 2458,
 2460,
 2461,
 2465,
 2469,
 2470,
 2476,
 2489,
 2490,
 2497,
 2500,
 2504,
 2509,
 2511,
 2513,
 2527,
 2532,
 2533,
 2534,
 2535,
 2536,
 2537,
 2546,
 2547,
 2548,
 2549,
 2550,
 2551,
 2552,
 2554,
 2556,
 2557,
 2558,
 2567,
 2578,
 2587,
 2588,
 2598,
 2599,
 2601,
 2608,
 2610,
 2611,
 2614,
 2629,
 2630,
 2631,
 2632,
 2633,
 2634,
 2644,
 2645,
 2646,
 2648,
 2649,
 2658,
 2667,
 2671,
 2672,
 2675,
 2676,
 2677,
 2682,
 2689,
 2690,
 2705,
 2710,
 2712,
 2715,
 2717,
 2720,
 2723,
 2729,
 2730,
 2731,
 2736,
 2738,
 2739,
 2740,
 2744,
 2745,
 2746,
 2762,
 2767,
 2779,
 2783,
 2792,
 2799,
 2808,
 2817,
 2822,
 2832,
 2836,
 2847,
 2849,
 2852,
 2865,
 2866,
 2867,
 2873,
 2878,
 2892,
 2907,
 2914,
 2916,
 2918,
 2922,
 2924,
 2925,
 2926,
 2927,
 2928,
 2929,
 2930,
 2933,
 2934,
 2935,
 2936,
 2938,
 2946,
 2978,
 2988,
 2989,
 3000,
 3003,
 3004,
 3005,
 3007,
 3011,
 3033,
 3040,
 3049,
 3050,
 3053,
 3062,
 3064,
 3066,
 3067,
 3086,
 3087,
 3089,
 3091,
 3117,
 3118,
 3125,
 3136,
 3139,
 3140,
 3143,
 3145,
 3149,
 3158,
 3159,
 3160,
 3168,
 3173,
 3175,
 3176,
 3177,
 3180,
 3187,
 3188,
 3189,
 3190,
 3193,
 3196,
 3198,
 3203,
 3206,
 3207,
 3208,
 3209,
 3214,
 3215,
 3216,
 3217,
 3218,
 3220,
 3222,
 3223,
 3228,
 3233,
 3283,
 3309,
 3325,
 3343,
 3357,
 3391,
 3430,
 3441,
 3446,
 3450,
 3466,
 3468,
 3470,
 3582,
 3630,
 3687,
 3691,
 3758,
 3804,
 3821,
 3869,
 3871,
 3879,
 3888,
 3890,
 3904,
 3911,
 3938,
 4034,
 4045,
 4048,
 4051,
 4053,
 4073,
 4077,
 4078,
 4083,
 4102,
 4113,
 4117,
 4120,
 4123,
 4127,
 4129,
 4136,
 4150,
 4156,
 4287,
 4301,
 4309,
 4315,
 4324,
 4338,
 4374,
 4399,
 4405,
 4487,
 4494,
 4496,
 4499,
 4527,
 4536,
 4538,
 4556,
 4589,
 4615,
 4621,
 4624,
 4627,
 4650,
 4658,
 4723,
 4724,
 4735,
 4764,
 4785,
 4789,
 4907,
 4913,
 4928,
 4934,
 4965,
 5023,
 5056,
 5082,
 5097,
 5100,
 5103,
 5108,
 5115,
 5117,
 5135,
 5151,
 5183,
 5190,
 5221,
 5223,
 5239,
 5240,
 5301,
 5304,
 5306,
 5315,
 5374,
 5385,
 5392,
 5405,
 5411,
 5441,
 5443,
 5446,
 5452,
 5464,
 5476,
 5482,
 5486,
 5538,
 5544,
 5547,
 5655,
 5665,
 5667,
 5668,
 5678,
 5686,
 5688,
 5689,
 5714,
 5776,
 5786,
 5792,
 5801,
 5807,
 5854,
 5895,
 5901,
 5918,
 5934,
 6018,
 6029,
 6032,
 6059,
 6099,
 6114,
 6122,
 6131,
 6133,
 6164,
 6200,
 6212,
 6222,
 6228,
 6230,
 6232,
 6244,
 6259,
 6261,
 6270,
 6277,
 6337,
 6363,
 6373,
 6374,
 6381,
 6413,
 6414,
 6444,
 6475,
 6485,
 6493,
 6508,
 6515,
 6588,
 6593,
 6732,
 6737,
 6754,
 6781,
 7071,
 7072,
 7137,
 7248,
 7487,
 7568,
 7570,
 7610,
 7677,
 7686,
 7712,
 7729,
 7732,
 7803,
 7817,
 7892,
 7895,
 7912,
 7920,
 8002,
 8010,
 8137,
 8138,
 8139,
 8172,
 8188,
 8213,
 8214,
 8245,
 8289,
 8290,
 8295,
 8299,
 8305,
 8311,
 8359,
 8360,
 8366,
 8367,
 8377,
 8378,
 8387,
 8427,
 8489,
 8492,
 8559,
 8596,
 8598,
 8616,
 8849,
 8876,
 8910,
 8984,
 8985,
 9001,
 9041,
 9049,
 9073,
 9106,
 9108,
 9110,
 9133,
 9242,
 9256,
 9315,
 9318,
 9320,
 9338,
 9357,
 9459,
 9496,
 9502,
 9516,
 9520,
 9562,
 9577,
 9672,
 9676,
 9679,
 9682,
 9689,
 9804,
 9808,
 9809,
 9810,
 9836,
 9854,
 9932,
 9941,
 9970,
 10013,
 10027,
 10043,
 10058,
 10085,
 10087,
 10093,
 10097,
 10108,
 10125,
 10135,
 10168,
 10184,
 10217,
 10219,
 10223,
 10321,
 10451,
 10492,
 10551,
 10792,
 10826,
 10877,
 11037,
 11115,
 11144,
 11175,
 11176,
 11315,
 11318,
 11323,
 11326,
 11343,
 11419,
 11443,
 11444,
 11450,
 11512,
 11573,
 11583,
 11702,
 11710,
 11737,
 11745,
 11799,
 11805,
 11810,
 11812,
 11814,
 11822,
 11841,
 11887,
 11890,
 11925,
 11937,
 11947,
 11990,
 12065,
 12094,
 12156,
 12210,
 12223,
 12225,
 12227,
 12311,
 12340,
 12345,
 12348,
 12356,
 12358,
 12366,
 12368,
 12408,
 12422,
 12431,
 12435,
 12438,
 12452,
 12455,
 12460,
 12488,
 12585,
 12590,
 12596,
 12600,
 12632,
 12640,
 12697,
 12716,
 12733,
 12735,
 12737,
 12776,
 12783,
 12804,
 12834,
 12836,
 12842,
 12852,
 12853,
 12886,
 12892,
 12948,
 12950,
 12954,
 12966,
 12984,
 12985,
 12991,
 13037,
 13079,
 13140,
 13146,
 13258,
 13273,
 13280,
 13307,
 13325,
 13333,
 13358,
 13370,
 13371,
 13419,
 13426,
 13436,
 13443,
 13458,
 13474,
 13502,
 13505,
 13533,
 13558,
 13561,
 13566,
 13576,
 13627,
 13641,
 13699,
 13766,
 13767,
 13768,
 13769,
 13777,
 13804,
 13806,
 13807,
 13823,
 13896,
 13901,
 13903,
 13905,
 13908,
 13914,
 13933,
 14028,
 14060,
 14070,
 14071,
 14087,
 14119,
 14124,
 14125,
 14126,
 14134,
 14192,
 14197,
 14211,
 14223,
 14224,
 14229,
 14234,
 14235,
 14239,
 14242,
 14243,
 14253,
 14255,
 14260,
 14262,
 14263,
 14278,
 14279,
 14286,
 14288,
 14311,
 14318,
 14324,
 14337,
 14348,
 14412,
 14433,
 14435,
 14440,
 14442,
 14475,
 14500,
 14511,
 14565,
 14588,
 14607,
 14608,
 14610,
 14627,
 14636,
 14641,
 14643,
 14648,
 14668,
 14672,
 14688,
 14711,
 14716,
 14717,
 14725,
 14767,
 14799,
 ...]

In [23]:
productosVolumen = {}

for i in range(productos_volumen.shape[0]):
    key = productos_volumen["Producto"][i]
    value = productos_volumen[" Volumen mtro3"][i]
    productosVolumen[key] = value

In [24]:
def calcularVolumen(df,numberProduct_clientes,productos_volumen):

        volumenTotalPorPedidos = []
        for idx,productos in df.iterrows():
                volumen_porCliente = 0
                j = 0
                for numeroDeProductos in productos:
                        try:
                                volumen_porCliente += numeroDeProductos  * productos_volumen[numberProduct_clientes[j]]
                        except:
                                None
                        j += 1

                volumenTotalPorPedidos.append(volumen_porCliente)        



        return volumenTotalPorPedidos

In [25]:
productos_porCliente["Volumen por pedidos (m^3)"] = calcularVolumen(productos_porCliente.iloc[:,2:productos_porCliente.shape[1]],list(productos_porCliente.iloc[:,2:productos_porCliente.shape[1]].columns),productosVolumen)

In [26]:
productos_porCliente

,Aleatorio,Numero de pedidos,23,29,30,60,66,67,89,91,...,52919,52925,52937,52940,52942,52984,52993,53014,53475,Volumen por pedidos (m^3)
0,0.527082,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.017079
1,0.161062,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
2,0.061546,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
3,0.748310,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.290464
4,0.149171,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,0.502875,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000957
352,0.905077,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.174686
353,0.865957,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.276000
354,0.016917,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
355,0.421907,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001125

In [27]:
#volumen total entre todos los clientes
productos_porCliente["Volumen por pedidos (m^3)"].sum()

53.439137689999995

In [28]:
clientes

,ciudad,Colonia,codigo postal,Calle,numero de casa
0,Monterrey,FIERRO MTY,64590,JESUS M GARZA,4026.0
1,Monterrey,VALLE DE SANTA LUCIA MTY,64140,LIC PEDRO ZORRI,404.0
2,Monterrey,JARDINES DEL PAS MTY,64900,AVE FUNDADORES,5300.0
3,Monterrey,CIUDAD NATURA,64989,AV ABRAHAM LIN,4001.0
4,Monterrey,VILLA LOS PINOS MTY,64770,PINO SILVESTRE,2923.0
...,...,...,...,...,...
351,Escobedo,LA ALIANZA,64103,PRIV PACHUCA,178.0
352,Escobedo,SANTA LUZ,66070,OXFORD,102.0
353,Escobedo,BUENA VISTA,66583,C PELICANO,238.0
354,Escobedo,LOS PARQUES RESIDENCIAL,66023,COBALTO,517.0
355,Escobedo,MONTERREAL INF II,66056,2DA CDA DE LA L,114.0

In [30]:
productos_porCliente

,Aleatorio,Numero de pedidos,23,29,30,60,66,67,89,91,...,52919,52925,52937,52940,52942,52984,52993,53014,53475,Volumen por pedidos (m^3)
0,0.527082,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.017079
1,0.161062,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
2,0.061546,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
3,0.748310,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.290464
4,0.149171,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,0.502875,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000957
352,0.905077,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.174686
353,0.865957,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.276000
354,0.016917,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
355,0.421907,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001125

In [31]:
simulacion_clientes = pd.concat([clientes, productos_porCliente], axis=1)
simulacion_clientes

,ciudad,Colonia,codigo postal,Calle,numero de casa,Aleatorio,Numero de pedidos,23,29,30,...,52919,52925,52937,52940,52942,52984,52993,53014,53475,Volumen por pedidos (m^3)
0,Monterrey,FIERRO MTY,64590,JESUS M GARZA,4026.0,0.527082,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.017079
1,Monterrey,VALLE DE SANTA LUCIA MTY,64140,LIC PEDRO ZORRI,404.0,0.161062,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
2,Monterrey,JARDINES DEL PAS MTY,64900,AVE FUNDADORES,5300.0,0.061546,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
3,Monterrey,CIUDAD NATURA,64989,AV ABRAHAM LIN,4001.0,0.748310,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.290464
4,Monterrey,VILLA LOS PINOS MTY,64770,PINO SILVESTRE,2923.0,0.149171,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,Escobedo,LA ALIANZA,64103,PRIV PACHUCA,178.0,0.502875,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000957
352,Escobedo,SANTA LUZ,66070,OXFORD,102.0,0.905077,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0.174686
353,Escobedo,BUENA VISTA,66583,C PELICANO,238.0,0.865957,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.276000
354,Escobedo,LOS PARQUES RESIDENCIAL,66023,COBALTO,517.0,0.016917,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
355,Escobedo,MONTERREAL INF II,66056,2DA CDA DE LA L,114.0,0.421907,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001125

### Limpieza y filtracion de pedidos

Como existen clientes que no piden ningun pedido podemos reducir la matriz generada en la simulacion

In [32]:
#Eliminamos los clientes que hicieron 0 pedidos
simulacion_clientes =  simulacion_clientes[simulacion_clientes["Numero de pedidos"] != 0]

In [33]:
simulacion_clientes

,ciudad,Colonia,codigo postal,Calle,numero de casa,Aleatorio,Numero de pedidos,23,29,30,...,52919,52925,52937,52940,52942,52984,52993,53014,53475,Volumen por pedidos (m^3)
0,Monterrey,FIERRO MTY,64590,JESUS M GARZA,4026.0,0.527082,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.017079
3,Monterrey,CIUDAD NATURA,64989,AV ABRAHAM LIN,4001.0,0.748310,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.290464
6,Monterrey,FOME 6 F S T D M MTY,64233,CALLE JOSE ANTO,7319.0,0.869673,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001022
7,Monterrey,URBI VILLA DEL REY,64102,LAGO TITICACA,209.0,0.762986,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.006190
8,Monterrey,PORTAL DEL FRAILE,66064,FRAY JOSE,729.0,0.628113,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.214957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,Escobedo,BUSTAMANTE B,65150,BUGAMBILIAS,435.0,0.889242,2,0,0,0,...,0,0,0,0,0,0,0,0,0,1.591463
351,Escobedo,LA ALIANZA,64103,PRIV PACHUCA,178.0,0.502875,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000957
352,Escobedo,SANTA LUZ,66070,OXFORD,102.0,0.905077,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0.174686
353,Escobedo,BUENA VISTA,66583,C PELICANO,238.0,0.865957,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.276000
355,Escobedo,MONTERREAL INF II,66056,2DA CDA DE LA L,114.0,0.421907,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001125

### Coordenadas

In [40]:
from geopy.geocoders import Bing

In [42]:
def quitar_mty(texto):
    if 'MTY' in texto:
        return texto.replace('MTY', '')
    else:
        return texto

# Aplicar la función a la columna 'Ciudad'
simulacion_clientes['Colonia'] = simulacion_clientes['Colonia'].apply(quitar_mty)

# Mostrar el DataFrame resultante
simulacion_clientes

C:\Users\Ruben\AppData\Local\Temp\ipykernel_21080\4024405111.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  simulacion_clientes['Colonia'] = simulacion_clientes['Colonia'].apply(quitar_mty)

,ciudad,Colonia,codigo postal,Calle,numero de casa,Aleatorio,Numero de pedidos,23,29,30,...,52919,52925,52937,52940,52942,52984,52993,53014,53475,Volumen por pedidos (m^3)
0,Monterrey,FIERRO,64590,JESUS M GARZA,4026.0,0.527082,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.017079
3,Monterrey,CIUDAD NATURA,64989,AV ABRAHAM LIN,4001.0,0.748310,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.290464
6,Monterrey,FOME 6 F S T D M,64233,CALLE JOSE ANTO,7319.0,0.869673,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001022
7,Monterrey,URBI VILLA DEL REY,64102,LAGO TITICACA,209.0,0.762986,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.006190
8,Monterrey,PORTAL DEL FRAILE,66064,FRAY JOSE,729.0,0.628113,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.214957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,Escobedo,BUSTAMANTE B,65150,BUGAMBILIAS,435.0,0.889242,2,0,0,0,...,0,0,0,0,0,0,0,0,0,1.591463
351,Escobedo,LA ALIANZA,64103,PRIV PACHUCA,178.0,0.502875,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000957
352,Escobedo,SANTA LUZ,66070,OXFORD,102.0,0.905077,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0.174686
353,Escobedo,BUENA VISTA,66583,C PELICANO,238.0,0.865957,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.276000
355,Escobedo,MONTERREAL INF II,66056,2DA CDA DE LA L,114.0,0.421907,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.001125

In [43]:
def obtener_coordenadas(tabla):
    coords = []
    geolocator = Bing(api_key='Ago97Rd3jwxWgFxgUWwgUrZ7S21qlE8ok8UvjoEnaXP2nl2Uh8NHqokudoSjLJzI')
    for i in range(tabla.shape[0]):
        city = tabla.iloc[i,0]
        colony = tabla.iloc[i,1]
        postal_code = tabla.iloc[i,2]
        street_name = tabla.iloc[i,3]
        street_number = tabla.iloc[i,4]

        query = f'{street_name}, {street_number}, {colony}, {postal_code}, {city}, Nuevo León, México'
    
        location = geolocator.geocode(query)

        if location:
            latitude = location.latitude
            longitude = location.longitude
            #print(f'Latitude: {latitude}, Longitude: {longitude}')
            coords.append((latitude,longitude))
        else:
            coords.append((0,0))

    return coords

In [44]:
coordenadas = obtener_coordenadas(simulacion_clientes)
coordenadas

[(25.68654935, -100.2772068),
 (25.763761, -100.408254),
 (25.79072633, -100.40731977),
 (36.59832921, -121.90723997),
 (25.8003649, -100.4111165),
 (25.743958, -100.406852),
 (25.66469765, -100.3108902),
 (25.6470789, -100.2856387),
 (25.701319, -100.2986849),
 (25.7241053, -100.35542665),
 (25.7325427, -100.3830339),
 (25.74559021, -100.38032532),
 (25.4300542, -100.1507814),
 (25.68476735, -100.31297545),
 (25.7396928, -100.33933485),
 (25.6919478, -100.30579265),
 (25.66255492, -100.38005504),
 (25.6620275, -100.3009203),
 (25.75633295, -100.36210045),
 (25.66469765, -100.3108902),
 (25.7815921, -100.3799292),
 (25.7350516, -100.3346422),
 (25.683505, -100.325643),
 (25.62057504, -100.26941675),
 (25.7548092, -100.4059584),
 (25.6344434, -100.29773675),
 (25.7396928, -100.33933485),
 (25.77953605, -100.40065487),
 (25.7727002, -100.3915849),
 (25.67532819, -100.37073293),
 (25.68483625, -100.3034782),
 (25.62761028, -100.29564229),
 (25.6487866, -100.1665832),
 (25.7225776, -100.3619583),
 (25.69231885, -100.30377746),
 (25.74360883, -100.38694761),
 (25.65960154, -100.2999589),
 (25.72150155, -100.3607566),
 (25.762573, -100.36016525),
 (25.66859099, -100.32130779),
 (25.7253197, -100.3415703),
 (25.7015326, -100.3314263),
 (25.4300542, -100.1507814),
 (25.67348585, -100.37610495),
 (25.6874739, -100.29264075),
 (25.7592744, -100.3871615),
 (25.79276144, -100.5202301),
 (25.741144, -100.403157),
 (-3.09534537, -60.01683817),
 (25.7543858, -100.36396115),
 (19.3718395, -99.105115),
 (25.762267, -100.358389),
 (25.7216106, -100.3447384),
 (25.6581615, -100.323491),
 (25.69140935, -100.2990046),
 (25.6711331, -100.3228665),
 (25.7032266, -100.28475295),
 (25.78042575, -100.4900689),
 (25.6515394, -100.3090169),
 (25.64659995, -100.2941538),
 (25.66616708, -100.30610368),
 (25.7430309, -100.411991),
 (25.799728, -100.412459),
 (25.7918723, -100.3774245),
 (25.7356385, -100.3547566),
 (25.696613, -100.2903169),
 (25.7136655, -100.3786145),
 (25.73921718, -100.40998279),
 (25.6612033, -100.2820136),
 (25.63562315, -100.2935946),
 (25.7838531, -100.4083123),
 (25.77641532, -100.36291465),
 (25.7928236, -100.4150499),
 (25.78033415, -100.4998427),
 (25.6834546, -100.25035715),
 (25.6409517, -100.3042746),
 (25.74567064, -100.40095655),
 (25.7974519, -100.41013505),
 (25.650774, -100.31208038),
 (25.7148157, -100.2979854),
 (25.6992114, -100.2790417),
 (25.7129734, -100.3416564),
 (25.61818453, -100.27218561),
 (25.6915778, -100.32116015),
 (25.763761, -100.408254),
 (25.72983939, -100.34759318),
 (25.662577, -100.320086),
 (25.7035053, -100.28868245),
 (25.73279646, -100.33875288),
 (25.72169225, -100.3602536),
 (25.7387134, -100.3332963),
 (25.7360487, -100.2856818),
 (25.7457446, -100.284587),
 (25.7173768, -100.228285),
 (25.75621867, -100.30203548),
 (27.53327751, -99.97653961),
 (25.726755, -100.245241),
 (25.7502989, -100.2412288),
 (25.748719, -100.2952422),
 (25.77911665, -100.2433768),
 (25.7506719, -100.2478897),
 (25.6599114, -100.1511437),
 (27.53327751, -99.97653961),
 (25.7117729, -100.2659981),
 (25.752067, -100.276223),
 (25.7775953, -100.251996),
 (27.53327751, -99.97653961),
 (25.7292357, -100.21777815),
 (25.739249, -100.2984648),
 (25.75249685, -100.28252248),
 (41.37174, 2.127393),
 (25.7355923, -100.2159608),
 (25.7887026, -100.2384286),
 (25.752517, -100.2587836),
 (25.7165563, -100.2305022),
 (25.71475793, -100.26175618),
 (27.53327751, -99.97653961),
 (27.53327751, -99.97653961),
 (25.70773825, -100.2460095),
 (25.71889211, -100.23176081),
 (25.74660345, -100.28740585),
 (25.73551, -100.282791),
 (25.760196, -100.267698),
 (25.7326175, -100.21845745),
 (25.733387, -100.2839),
 (25.71475793, -100.26175618),
 (25.7355917, -100.2388657),
 (25.72523945, -100.2928957),
 (25.72431457, -100.24255442),
 (25.7208796, -100.2411788),
 (25.7257418, -100.2320631),
 (25.740939, -100.281051),
 (25.7522829, -100.242851),
 (25.7699125, -100.23880199),
 (25.7329195, -100.2368958),
 (25.760202, -100.2591209),
 (25.89291375, -100.17486675),
 (25.744348, -100.267024),
 (25.72259225, -100.275784),
 (25.7068935, -100.2561145),
 (25.730101, -100.210176),
 (25.7672676, -100.2486254),
 (25.73078373, -100.22500443),
 (25.738754, -100.28325815),
 (25.7486319, -100.2790412),
 (25.8948984, -100.1730375),
 (25.71638231, -100.23877341),
 (25.77014, -100.3243471),
 (25.73597167, -100.30375498),
 (25.7401524, -100.26444095),
 (25.7506143, -100.2393406),
 (25.7296749, -100.2716205),
 (25.7350346, -100.2903097),
 (25.713652, -100.20942385),
 (25.7269879, -100.2663954),
 (25.7392742, -100.2676492),
 (25.74654305, -100.29179085),
 (25.71210033, -100.24815111),
 (25.8012505, -100.3274864),
 (25.7208726, -100.2287333),
 (25.8051224, -100.3286281),
 (25.7169931, -100.209632),
 (25.71548875, -100.26397675),
 (25.73946797, -100.24869577),
 (25.75553, -100.292476),
 (25.767176, -100.273317),
 (20.647168, -100.4568635),
 (25.763412, -100.3254819),
 (25.7440132, -100.2616783),
 (25.7594693, -100.2434965),
 (25.7621879, -100.282477),
 (25.7684829, -100.2526229),
 (25.7396973, -100.2913159),
 (25.7406619, -100.2857758),
 (25.7681368, -100.2591093),
 (25.7125807, -100.26343864),
 (25.73670796, -100.28552617),
 (25.8935206, -100.17548425),
 (25.80204715, -100.1952941),
 (25.7596482, -100.31854565),
 (25.7472293, -100.256219),
 (25.7795225, -100.2904182),
 (27.53327751, -99.97653961),
 (25.741232, -100.2490989),
 (25.757104, -100.249653),
 (25.74593257, -100.28621666),
 (27.53327751, -99.97653961),
 (25.78410707, -100.29376957),
 (25.7605755, -100.2767756),
 (25.76279382, -100.23564287),
 (25.79072242, -100.31244167),
 (25.8067941, -100.391086),
 (25.856145, -100.3894549),
 (26.0845519, -99.609379),
 (25.841009, -100.3692556),
 (25.7798532, -100.3204684),
 (25.812033, -100.264386),
 (25.7888413, -100.4701838),
 (25.7745407, -100.2740831),
 (25.79256725, -100.33143475),
 (25.82073139, -100.22306634),
 (-19.95440517, -44.20427082),
 (25.8480154, -100.3723039),
 (25.8048904, -100.33519565),
 (25.8005749, -100.4777762),
 (25.7691033, -100.2904315),
 (25.78684184, -100.2520213),
 (25.7760466, -100.3336961),
 (25.8018519, -100.3199535),
 (25.84216441, -100.39839447),
 (25.800608, -100.578771),
 (25.78061433, -100.40800749),
 (25.80906296, -100.32276154),
 (25.68273377, -100.16297724),
 (25.8008835, -100.3205083),
 (25.7988164, -100.3941629),
 (25.7713272, -100.2665937),
 (25.818882, -100.2322049),
 (25.80789, -100.26897),
 (25.7968118, -100.3913316),
 (25.73131125, -100.3253673),
 (25.7996446, -100.3029258),
 (25.798569, -100.3707573),
 (25.79251593, -100.29289662),
 (25.78056955, -100.4071218),
 (25.8114968, -100.2547163),
 (25.805239, -100.374979),
 (25.78670159, -100.45779026),
 (25.7503416, -100.3120292),
 (25.804609, -100.395861),
 (25.80906296, -100.32276154),
 (25.80906296, -100.32276154),
 (25.7864574, -100.2671927),
 (25.78061433, -100.40800749),
 (25.7924983, -100.3452586),
 (25.845431, -100.368877),
 (25.8006535, -100.3159888)]

In [45]:
def return_latitude(x):
    return x[0]

def return_longitude(x):
    return x[1]

In [46]:
simulacion_clientes["Coordenadas"] = coordenadas
simulacion_clientes["Latitud"] = simulacion_clientes["Coordenadas"].apply(return_latitude)
simulacion_clientes["Longitud"] = simulacion_clientes["Coordenadas"].apply(return_longitude)

C:\Users\Ruben\AppData\Local\Temp\ipykernel_21080\3354209641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  simulacion_clientes["Coordenadas"] = coordenadas
C:\Users\Ruben\AppData\Local\Temp\ipykernel_21080\3354209641.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  simulacion_clientes["Latitud"] = simulacion_clientes["Coordenadas"].apply(return_latitude)
C:\Users\Ruben\AppData\Local\Temp\ipykernel_21080\3354209641.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  simulacion_clientes["Longitud"] = simulacion_clientes["Coordenadas"].apply(return_longitude)

In [48]:
clientes_index = simulacion_clientes[(simulacion_clientes['Latitud'] < 25) | (simulacion_clientes['Latitud'] > 26)].index
simulacion_clientes = simulacion_clientes.drop(clientes_index)
simulacion_clientes.shape

(223, 4772)

In [49]:
simulacion_clientes

,ciudad,Colonia,codigo postal,Calle,numero de casa,Aleatorio,Numero de pedidos,23,29,30,...,52940,52942,52984,52993,53014,53475,Volumen por pedidos (m^3),Coordenadas,Latitud,Longitud
0,Monterrey,FIERRO,64590,JESUS M GARZA,4026.0,0.527082,1,0,0,0,...,0,0,0,0,0,0,0.017079,"(25.68654935, -100.2772068)",25.686549,-100.277207
3,Monterrey,CIUDAD NATURA,64989,AV ABRAHAM LIN,4001.0,0.748310,2,0,0,0,...,0,0,0,0,0,0,0.290464,"(25.763761, -100.408254)",25.763761,-100.408254
6,Monterrey,FOME 6 F S T D M,64233,CALLE JOSE ANTO,7319.0,0.869673,2,0,0,0,...,0,0,0,0,0,0,0.001022,"(25.79072633, -100.40731977)",25.790726,-100.407320
8,Monterrey,PORTAL DEL FRAILE,66064,FRAY JOSE,729.0,0.628113,1,0,0,0,...,0,0,0,0,0,0,0.214957,"(25.8003649, -100.4111165)",25.800365,-100.411117
9,Monterrey,CUMBRES 3 SEC,64610,HACIENDA DEL CA,310.0,0.485124,1,0,0,0,...,0,0,0,0,0,0,0.001254,"(25.743958, -100.406852)",25.743958,-100.406852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,Escobedo,BUSTAMANTE B,65150,BUGAMBILIAS,435.0,0.889242,2,0,0,0,...,0,0,0,0,0,0,1.591463,"(25.7864574, -100.2671927)",25.786457,-100.267193
351,Escobedo,LA ALIANZA,64103,PRIV PACHUCA,178.0,0.502875,1,0,0,0,...,0,0,0,0,0,0,0.000957,"(25.78061433, -100.40800749)",25.780614,-100.408007
352,Escobedo,SANTA LUZ,66070,OXFORD,102.0,0.905077,3,0,0,0,...,0,0,0,0,0,0,0.174686,"(25.7924983, -100.3452586)",25.792498,-100.345259
353,Escobedo,BUENA VISTA,66583,C PELICANO,238.0,0.865957,2,0,0,0,...,0,0,0,0,0,0,0.276000,"(25.845431, -100.368877)",25.845431,-100.368877
355,Escobedo,MONTERREAL INF II,66056,2DA CDA DE LA L,114.0,0.421907,1,0,0,0,...,0,0,0,0,0,0,0.001125,"(25.8006535, -100.3159888)",25.800653,-100.315989

# Exportación de datos

In [50]:
# Export the DataFrame to a CSV file
simulacion_clientes.to_csv('simulacion_clientes.csv', index=False)  # Set index=False to exclude the DataFrame index